<?xml version="1.0"?>
<launch>
    <!-- Unity Endpoint: -->
    <include file="$(find unity_ros)/launch/endpoint.launch"/>

    <!-- Right arm Oculus mapping: -->
    <include file="$(find kinova_positional_control)/launch/oculus_mapping.launch">
        <arg name="robot_name" default="right_arm"/>
        <arg name="controller_side" default="right"/>
        <arg name="tracking_mode" default="toggle"/>
    </include>

    <!-- Left arm Oculus mapping: -->
    <include file="$(find kinova_positional_control)/launch/oculus_mapping.launch">
        <arg name="robot_name" default="left_arm"/>
        <arg name="controller_side" default="left"/>
        <arg name="tracking_mode" default="toggle"/>
    </include>
</launch>