<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="my_gen3"/>

    <!-- PID control: -->
    <include file="$(find kinova_positional_control)/launch/pid_controllers.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Joints control: -->
    <group ns="/$(arg robot_name)">
      <node name="joints_control" pkg="kinova_positional_control" type="joints_control.py" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
      </node>
    </group>
</launch>
