<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->


    <!-- ======================== END OF SETTINGS ========================== -->

    <include 
    file="$(find realsense2_camera)/launch/rs_camera.launch ">
        <arg 
        name="camera" 
        value="workspace2"/>
        <arg 
        name="serial_no" 
        value="242622070739"/>
        <arg 
        name="color_fps" 
        value="15"/>
        <arg 
        name="depth_fps" 
        value="15"/>
    </include>
</launch>

